body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type=text] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button[type=submit] {
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
}

button[type=submit]:hover {
    background-color: #0057b3;
    cursor: pointer;
}

#main {
    margin: 100px auto 50px;
}

#movie-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form {
    margin-bottom: 50px;
    text-align: center;
}

#show-time {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 10%;
    margin: 10px 25px 10px 0;
}

#show-time:hover {
    cursor: pointer;
    background-color: #d2d2d2;
}

#seats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#booking-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 30px;
    width: 50%;
}

.movie h2 {
    margin-top: 0;
}

.movie ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.movie ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cinema-list {
    margin-bottom: 20px;
}

.cinema-list strong {
    margin-right: 10px;
}

.cinema-list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cinema-list li {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.cinema-list li select {
    margin-left: 10px;
}

.booking-form {
    margin-top: 20px;
}

.booking-form label {
    font-weight: bold;
    margin-right: 10px;
}

.booking-form select {
    margin-right: 10px;
}

.booking-form button[type=submit] {
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    margin-top: 30px;
}

.booking-form button[type=submit]:hover {
    background-color: #0057b3;
    cursor: pointer;
}

.payment-form {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
}

.payment-form label {
    font-weight: bold;
    margin-right: 10px;
}

.payment-form input {
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.payment-form button[type=submit] {
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    margin-top: 10px;
    width: fit-content;
}

.price-amount {
    font-weight: bold;
    margin-left: 10px;
}

.details {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 30px;
    width: 30%;
}

.details h2 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.seat {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
  
.seat.selected {
    background-color: green;
    color: white;
}
  
.seat[data-is-available="false"] {
    background-color: #ccc;
    color: #333;
    cursor: not-allowed;
}

#ticket {
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
  
#ticket h2 {
    margin-top: 0;
}
  
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
  
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
td:first-child {
    font-weight: bold;
}
  
#seat-numbers {
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .movie {
      width: 100%;
    }
}